<div class="col-xs-12">
  <table class="table table-bordered table-responsive">
    <thead>
    <tr>
      <th class="col-xs-3">Ticker</th>
      <th class="col-xs-1">Current Ask:</th>
      <th class="col-xs-1">Earning Per Share</th>
      <th class="col-xs-1">Price/Earning Ratio</th>
      <th class="col-xs-1">Stock Open</th>
      <th class="col-xs-1">View</th>
      <th class="col-xs-1">Edit</th>
      <th class="col-xs-1">Delete</th>
    </tr>
    </thead>

    <tbody>
    <% @stocks.each do |stock| %>
        <% if stock.user_id == current_user.id %>
            <% begin %>
                <% @stock_details = StockQuote::Stock.quote(stock.ticker) %>
            <% rescue StandardError %>
                <% next %>
            <% end %>
            <tr>
              <td><%= @stock_details.name %> - <%= @stock_details.symbol %></td>
              <td>$<%= @stock_details.l %></td>
              <td>$<%= @stock_details.eps %></td>
              <td>$<%= @stock_details.pe %></td>
              <td>$<%= @stock_details.op %></td>
              <td><%= link_to 'Details', stock, class: "btn btn-primary btn-xs" %></td>
              <td><%= link_to '', edit_stock_path(stock), class: "glyphicon glyphicon-cog btn btn-xs btn-warning" %></td>
              <td><%= link_to '', stock, method: :delete, data: {confirm: 'Are you sure?'}, class: "glyphicon glyphicon-remove btn btn-xs btn-danger" %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>