

<h1>Stocks</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Company Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id %>
        <% begin %> 
          <% @stock_quote = StockQuote::Stock.quote(stock.ticker) %>
        <% rescue StandardError %>
          <tr>
          <td><%= stock.ticker %></td>
          <td><%= "N/A" %></td>
          <td><%= "N/A" %></td>
          <td><%= link_to 'Show', stock %></td>
          <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
          <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
        <tr>
          <td><%= stock.ticker %></td>
          <td><%= @stock_quote.close %></td>
          <td><%= @stock_quote.company_name %></td>
          <td><%= link_to 'Show', stock, class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to 'Edit', edit_stock_path(stock), class: 'btn btn-success btn-sm' %></td>
          <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path, class: 'btn btn-default' %>
